.almohadones {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: repeat(3, 485px);
    grid-auto-rows: 485px ;
    align-self: center;
    justify-content: center;

}

.alm {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.alm .img {
    width: 100%;
    height: 80%;
    background-position: center;
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
    border-radius: 30px;
    transition: 0.5s;
    transform: scale(1.0);

}

.alm .img:hover {
    transition: 0.5s;
    transform: scale(1.05);
    opacity: 0.94;


}

.alm__comprar {
    transition: 0.1s;
    padding: 25px;
    align-self: center;
    display: none;
    font-size: 25px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.772);
}

.alm .img:hover .alm__comprar {
    display: block;
    transform: scale(1);

}

.alm__comprar:hover {
    transition: all 0.5;
}

.alm__comprar:hover i {
    transition: all 0.5;
    transform: scale(1.2);
}


.alm .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20%;
}


// $almohadones: (
//     1:url("../multimedia/almohadones/almohadon_caracol_b_b_flecos.jpg"),
//     2:url("../multimedia/almohadones/almohadon_caracol_b_b.jpg"),
//     3:url("../multimedia/almohadones/almohadon_caracol_n_n_flecos.jpg"),
//     4:url("../multimedia/almohadones/almohadon_mediapluma_b_b.jpg"),
//     5:url("../multimedia/almohadones/almohadon_mediapluma_b_b_flecos.jpg"),
//     6:url("../multimedia/almohadones/almohadon_mediapluma_b_n.jpg"),
//     7:url("../multimedia/almohadones/almohadon_mediapluma_n_n.jpg"),
//     8:url("../multimedia/almohadones/almohadon_pluma_b_b_flecos.jpg"),
//     9:url("../multimedia/almohadones/almohadon_pluma_b_n.jpg"),
// );

.alm_position {
    background-size: cover;
    background-position: center;
}

// @each $nro_almohadon,
// $url in $almohadones {
//     .almohadones__#{$nro_almohadon} .img {
//         // background-image: $url;
//         @extend .alm_position;
//     }
// }
